body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #39b3e7;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

section {
    width: 45%;
}

.add-recipe form {
    border: 1px solid #ccc;
    padding: 10px;
}

.add-recipe input[type="text"], .add-recipe textarea {
    width: 100%;
    margin-bottom: 10px;
    padding:1px;
}

.add-recipe button {
    background-color: #a91212;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.add-recipe button:hover {
    background-color: #5e0a0a;
}

.recipe {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.recipe h3 {
    margin-top: 0;
}